@import 'antd/dist/antd.css'; // or 'antd/dist/antd.less'
body {
    font-family: "Roboto Condensed",sans-serif;
    font-size: 14px;
    background-color: #f4f6f8;
    
}
.wrapper{
  margin: 0 auto;
  padding: 30px 5%;
}
//-------------Tabs------------//
.Polaris-Tabs {
    justify-content: left;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);
    box-shadow: var(--p-card-shadow,0 0 0 1px rgba(63,63,68,.05),0 1px 3px 0 rgba(63,63,68,.15));
    button{
      &:focus{
        box-shadow: none;
      }
    }
    .Polaris-Tabs__Tab{
      margin: 0 0.5em;
      .title_tabs{
        display: flex;
        align-items: center;
        justify-content: center;
        span{
          text-transform: uppercase;
          display: block;
          font-weight: 500;
          color: rgba(0,0,0,0.7);
          font-size: 13px;
        }
        .Polaris-Icon{
          margin:inherit;
          margin-left: 10px;
          svg{
            fill: #ccc;
          }
          height: 1.6rem;
        }
      }
      &.Polaris-Tabs__Tab--selected{
        .Polaris-Tabs__Title{
          border-bottom: var(--p-override-none, 0.3rem) solid #6371c7
        }
        .title_tabs{
          
          .Polaris-Icon{
            animation: mover 0.8s infinite alternate;
            position: relative;
          }
          @-webkit-keyframes mover {
            from{
              -webkit-transform:rotate(30deg);
              -moz-transform:rotate(30deg);
              -o-transform:rotate(30deg);
          }
          to{
              -webkit-transform:rotate(-30deg);
              -moz-transform:rotate(-30deg);
              -o-transform:rotate(-30deg);
          }
          }
          @keyframes mover {
              from{
                -webkit-transform:rotate(30deg);
                -moz-transform:rotate(30deg);
                -o-transform:rotate(30deg);
            }
            to{
                -webkit-transform:rotate(-30deg);
                -moz-transform:rotate(-30deg);
                -o-transform:rotate(-30deg);
            }
          }
          
          span{
            color: #6371c7;
          }
          svg{
            fill: #6371c7
          }
        }
        color: #6371c7;
      }
    }
}